* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("./assets/old-town-day.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.app-title {
    color: rgb(241, 233, 233);
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-shadow: 5px 7px black;
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 80px;
    word-spacing: 8px;
}

#log-in {
    background-color: rgba(168, 156, 167, 0.404);
    color: black;
    -webkit-text-fill-color: rgb(194, 12, 12); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: rgb(97, 8, 8);
    border-radius: 10px;
    padding: 25px;
    font-family: 'PT Serif', serif;
    font-size: 20px;
    border: 1.5px solid black;
    box-shadow:  5px 5px 5px 5px rgba(41, 40, 40, 0.568);
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 30px;
}

label[for^=name] {
    color: black;
}

input {
   -webkit-box-shadow:0 0 5px #666 inset;
   -moz-box-shadow:0 0 5px #666 inset;
   box-shadow:0 0 5px #666 inset;
}

button {
    box-shadow: 0 1px 2px rgb(70, 63, 63),0 -1px 1px #666,
    inset 0 -1px 1px rgba(0,0,0,0.5),
    inset 0 1px 1px rgba(92, 89, 89, 0.8);
    border-radius: 5px;
    padding: 4px;
    
}
nav {
    display: flex;
    
}

nav ul {
    align-content: right;
    list-style-type: none;
    width: 663px;
    margin: auto;
    
    
    }

nav li {
    float: left;
    border-radius: 4px;
    display: block;
}

nav a {
    
    font-family: 'Lobster', cursive;
    display: block;
    padding: 8px;
    border-radius: 4px;
    user-select: none;
    text-decoration: none;
    color: rgb(41, 40, 40);
}

a:hover {
    background-color: rgba(32, 109, 109, 0.233);
}
