body {
    background-color: rgb(37, 29, 37);
    margin: 40px;
    background-image: url("../assets/city-image/portland-old-town.jpg");
}

h1 {
    color: rgb(211, 195, 106);
    font-family: 'Lobster', cursive;
    padding-left: 50px;
    font-size: 70px;
    text-shadow: 5px 7px black;
    word-spacing: 20px;
    text-align: center;
    padding-bottom: 60px;
    padding-top: 20px;
    align-items: center;
}

a {
    color: rgb(253, 249, 249);
    padding: 50px;
}

a:hover {
    font-size: x-large;
}

#devs {
   display: inline-flex;
}

.langston {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    border: 1.5px solid black;
    padding: 40px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px 5px rgba(41, 40, 40, 0.568);
    background-color: rgba(230, 230, 250, 0.671);
    text-align: center;
}

.langston, h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

#langston {
    border-radius: 200px;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    box-shadow:  5px 5px 10px 5px rgb(59, 59, 59);
}

.nikki {
    margin-left: 30px;
    margin-right: 30px;
    border: 1.5px solid black;
    padding: 40px;
    padding-top: 80px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px 0px rgba(41, 40, 40, 0.568);
    text-align: center;
    background-color: rgba(230, 230, 250, 0.671);
    margin-top: 60px;
}

#nikki {
    border-radius: 200px;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    box-shadow:  5px 5px 10px 5px rgb(59, 59, 59);
}

.nikki, h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.alan {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    border: 1.5px solid black;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    box-shadow:  5px 5px 5px 5px rgba(41, 40, 40, 0.568);
    background-color: rgba(230, 230, 250, 0.671);
}

.alan, h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

#alan {
    border-radius: 200px;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    box-shadow:  5px 5px 10px 5px rgb(59, 59, 59);
}

.rachel {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
    border: 1.5px solid black;
    padding: 40px;
    padding-top: 80px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px 0px rgba(41, 40, 40, 0.568);
    text-align: center;
    background-color: rgba(230, 230, 250, 0.671);
}

#rachel {
    border-radius: 200px;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    box-shadow:  5px 5px 10px 5px rgb(59, 59, 59);
}

.rachel, h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

.karl {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
    border: 1.5px solid black;
    padding: 40px;
    border-radius: 5px;
    box-shadow:  5px 5px 5px 5px rgba(41, 40, 40, 0.568);
    background-color: rgba(230, 230, 250, 0.671);
    text-align: center;
}

.karl, h2 {
    padding-top: 15px;
    padding-bottom: 10px;
}

#karl {
    border-radius: 200px;
    height: 110px;
    width: 110px;
    border: 1px solid black;
    box-shadow:  5px 5px 10px 5px rgb(59, 59, 59);
}

p {
    font-style: italic;
}